{% extends '::base.html.twig' %}

{% block content %}
    <h1>TbSubcategory creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tb_subcategory') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
