{% extends '::base.html.twig' %}
{% block content %}      
    <div class="text-center">
        Bem vindo ao RC System
        Caso necessite de alguma ajuda procure o suporte pelo email marcel.nagm@gmail.com
    </div>    
{% endblock %}

