{% extends '::base.html.twig' %}

{% block content %}
    <h1>TbCart edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tb_cart_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
