{% extends '::base.html.twig' %}

{% block content %}
    <h1>TbCart creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tb_cart', { 'id':  app.session.get('actual_IdShop') }) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
